<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mbienkowski.analizator">

    <application>
    <activity android:name=".laczenie.MainActivity" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
        <activity android:name=".laczenie.MainPageActivity"></activity>
        <activity android:name=".laczenie.AddAccountActivity"></activity>
        <activity android:name=".laczenie.RemindPasswordActivity"></activity>
        <activity android:name=".laczenie.RemindPasswordQuestionActivity"></activity>
        <activity android:name=".laczenie.RemindPasswordMessageActivity"></activity>

</application>

</manifest>